# ==============================
# ARCHIVOS DE WORDPRESS A EXCLUIR
# ==============================

# Núcleo de WordPress
wp-admin/
wp-includes/

# Configuración sensible
wp-config.php
wp-config-sample.php

# Archivos de instalación
license.txt
readme.html

# ==============================
# ARCHIVOS DE CONTENIDO
# ==============================

# Subidas del usuario (muy pesadas)
wp-content/uploads/


# ==============================
# ARCHIVOS TEMPORALES / SISTEMA
# ==============================
*.log
*.tmp
*.bak
*.zip
.DS_Store
Thumbs.db
node_modules/
.env
.idea/
.vscode/
/wp-content/themes/tema-girasalud/nbproject/private/
